<mat-toolbar class="topbar">
    <button mat-icon-button (click)="toggleSidenav.emit()" aria-label="Toggle navigation">
        <mat-icon>{{ sidenavOpened ? 'menu_open' : 'menu' }}</mat-icon>
    </button>

    <div class="topbar-search">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search goals, metrics, users...">
    </div>

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="orgMenu" class="org-switcher">
        <mat-icon class="org-icon">corporate_fare</mat-icon>
        <span class="org-name">Global Corp Inc.</span>
        <mat-icon class="dropdown-icon">expand_more</mat-icon>
    </button>

    <mat-menu #orgMenu="matMenu" xPosition="before">
        <div class="menu-header">Select Organization</div>
        <mat-divider></mat-divider>
        <button mat-menu-item class="active">
            <mat-icon>check</mat-icon> Global Corp Inc.
        </button>
        <button mat-menu-item>
            <span style="display:inline-block; width:24px"></span> Acme EMEA
        </button>
    </mat-menu>


    @if (user$ | async; as user) {
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-btn">
        <div class="avatar">{{ initials }}</div>
        <span class="user-name">{{ user.firstName }} {{ user.lastName }}</span>
        <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu" xPosition="before">
        <div class="menu-user-info">
            <strong>{{ user.firstName }} {{ user.lastName }}</strong>
            <span>{{ user.email }}</span>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Sign out</span>
        </button>
    </mat-menu>
    }
</mat-toolbar>